In [3]:
import pandas as pd
import numpy as np
import csv

<h4>For Industry data in particular, I only used specific occupations.<h4>

In [57]:
df = pd.read_csv("peoutlook.csv")

<h4>drop unwanted columns<h4>

In [59]:
df.drop(df.columns[[2,11,12]],axis=1,inplace = True)

<h4>Individual CSVs from the BLS do not specifiy occupation. Add column to each CSV for occupation<h4>

In [60]:
df['Occupation'] = 'Pediatricians General'

<h4>For PostgreSQL's import function, BLS data needs to have all commas, asterisks, pounds, and double asterisks replaced from original source<h4>

In [200]:
df['OCC_CODE'] = df['OCC_CODE'].replace(',', '',regex=True)
df['OCC_TITLE'] = df['OCC_TITLE'].replace(',', '',regex=True)
df['TOT_EMP'] = df['TOT_EMP'].replace(',', '',regex=True)
df['H_MEAN'] = df['H_MEAN'].replace(',', '',regex=True)
df['A_MEAN'] = df['A_MEAN'].replace(',', '',regex=True)
df['H_MEDIAN'] = df['H_MEDIAN'].replace(',', '',regex=True)
df['A_MEDIAN'] = df['A_MEDIAN'].replace(',', '',regex=True)
df['Date'] = df['Date'].replace(',', '',regex=True)

In [201]:
df['OCC_CODE'] = df['OCC_CODE'].replace('*', '')
df['OCC_TITLE'] = df['OCC_TITLE'].replace('*', '')
df['TOT_EMP'] = df['TOT_EMP'].replace('*', '')
df['H_MEAN'] = df['H_MEAN'].replace('*', '')
df['A_MEAN'] = df['A_MEAN'].replace('*', '')
df['H_MEDIAN'] = df['H_MEDIAN'].replace('*', '')
df['A_MEDIAN'] = df['A_MEDIAN'].replace('*', '')
df['Date'] = df['Date'].replace('*', '')

In [202]:
df['OCC_CODE'] = df['OCC_CODE'].replace('#', '')
df['OCC_TITLE'] = df['OCC_TITLE'].replace('#', '')
df['TOT_EMP'] = df['TOT_EMP'].replace('#', '')
df['H_MEAN'] = df['H_MEAN'].replace('#', '')
df['A_MEAN'] = df['A_MEAN'].replace('#', '')
df['H_MEDIAN'] = df['H_MEDIAN'].replace('#', '')
df['A_MEDIAN'] = df['A_MEDIAN'].replace('#', '')
df['Date'] = df['Date'].replace('#', '')

In [205]:
df['OCC_CODE'] = df['OCC_CODE'].replace('**', '')
df['OCC_TITLE'] = df['OCC_TITLE'].replace('**', '')
df['TOT_EMP'] = df['TOT_EMP'].replace('**', '')
df['H_MEAN'] = df['H_MEAN'].replace('**', '')
df['A_MEAN'] = df['A_MEAN'].replace('**', '')
df['H_MEDIAN'] = df['H_MEDIAN'].replace('**', '')
df['A_MEDIAN'] = df['A_MEDIAN'].replace('**', '')
df['Date'] = df['Date'].replace('**', '')

In [61]:
df

,Industry Title,Industry Code,2020 Employment,2020 Percent of Occupation,2020 Percent of Industry,Projected 2030 Employment,Projected 2030 Percent of Occupation,Projected 2030 Percent of Industry,"Employment Change, 2020-2030","Employment Percent Change, 2020-2030",Occupation
0,Total employment,"=""TE1000""",30.2,100.0,0.0,29.6,100.0,0.0,-0.5,-1.8,Pediatricians General
1,Self-employed workers,"=""TE1100""",2.2,7.4,0.0,1.5,5.2,0.0,-0.7,-31.1,Pediatricians General
2,Total wage and salary employment,"=""TE1200""",27.9,92.6,0.0,28.1,94.8,0.0,0.2,0.6,Pediatricians General
3,Management of companies and enterprises,"=""550000""",0.1,0.2,0.0,0.1,0.2,0.0,0.0,3.3,Pediatricians General
4,Management of companies and enterprises,"=""551000""",0.1,0.2,0.0,0.1,0.2,0.0,0.0,3.3,Pediatricians General
5,Administrative and support and waste managemen...,"=""560000""",0.1,0.2,0.0,0.1,0.2,0.0,0.0,13.8,Pediatricians General
6,Administrative and support services,"=""561000""",0.1,0.2,0.0,0.1,0.2,0.0,0.0,13.8,Pediatricians General
7,Employment services,"=""561300""",0.1,0.2,0.0,0.1,0.2,0.0,0.0,13.8,Pediatricians General
8,"Educational services; state, local, and private","=""610000""",0.6,1.9,0.0,0.6,2.1,0.0,0.0,6.4,Pediatricians General
9,"Educational services; state, local, and private","=""611000""",0.6,1.9,0.0,0.6,2.1,0.0,0.0,6.4,Pediatricians General
10,"Junior colleges, colleges, universities, and p...","=""6112-3""",0.6,1.9,0.0,0.6,2.0,0.0,0.0,6.6,Pediatricians General
11,"Colleges, universities, and professional schoo...","=""611300""",0.6,1.9,0.0,0.6,2.0,0.0,0.0,6.6,Pediatricians General
12,Healthcare and social assistance,"=""620000""",27.2,90.0,0.1,27.3,92.0,0.1,0.1,0.4,Pediatricians General
13,Ambulatory healthcare services,"=""621000""",19.9,65.9,0.3,19.5,65.8,0.2,-0.4,-2.0,Pediatricians General
14,Offices of physicians,"=""621100""",18.4,60.9,0.7,17.7,59.6,0.6,-0.7,-3.9,Pediatricians General
15,Outpatient care centers,"=""621400""",1.3,4.2,0.1,1.5,5.2,0.1,0.3,20.5,Pediatricians General
16,Other ambulatory healthcare services,"=""621900""",0.2,0.6,0.1,0.2,0.7,0.1,0.0,17.0,Pediatricians General
17,"Hospitals; state, local, and private","=""622000""",7.2,23.7,0.1,7.7,25.8,0.1,0.5,7.0,Pediatricians General
18,"General medical and surgical hospitals; state,...","=""622100""",6.9,22.9,0.1,7.3,24.7,0.1,0.4,6.3,Pediatricians General
19,General medical and surgical hospitals; private,"=""622105""",6.0,19.7,0.1,6.4,21.5,0.1,0.4,7.1,Pediatricians General
20,General medical and surgical hospitals; local,"=""622103""",0.8,2.5,0.1,0.8,2.6,0.1,0.0,1.5,Pediatricians General
21,Specialty (except psychiatric and substance ab...,"=""622300""",0.3,0.8,0.1,0.3,1.1,0.1,0.1,25.9,Pediatricians General
22,Specialty (except psychiatric and substance ab...,"=""622305""",0.2,0.6,0.1,0.3,0.9,0.1,0.1,33.0,Pediatricians General
23,Nursing and residential care facilities,"=""623000""",0.1,0.3,0.0,0.1,0.3,0.0,0.0,0.1,Pediatricians General
24,Other residential care facilities,"=""623900""",0.1,0.2,0.0,0.1,0.2,0.0,0.0,-2.5,Pediatricians General
25,Government,"=""900000""",0.1,0.2,0.0,0.1,0.2,0.0,0.0,8.0,Pediatricians General
26,"Local government, excluding education and hosp...","=""999300""",0.1,0.2,0.0,0.1,0.2,0.0,0.0,8.3,Pediatricians General

In [62]:
df.to_csv(r'cleanpeoutlook.csv', index = False)

<h4>If done, export with csv reader above. You can also furthur clean with csv writer below<h4>

In [104]:
from csv import writer 

list_data=['29-1071','Physician assistants','',156100,'','','','','','','','','','','','','','','','','','','',2030]

list_data2=['29-1171','Nurse practitioners','',306200,'','','','','','','','','','','','','','','','','','','',2030]

list_data3=['29-1228','Physicians, all other; and ophthalmologists, except pediatric','',348000,'','','','','','','','','','','','','','','','','','','',2030]

with open('cleanednatbls2020.csv', 'a', newline='') as f_object:  

    writer_object = writer(f_object)

    writer_object.writerow(list_data)
    writer_object.writerow(list_data2)
    writer_object.writerow(list_data3)
    
    f_object.close()
    
df = pd.read_csv("cleanednatbls2020.csv")
df

,OCC_CODE,OCC_TITLE,O_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_QUOTIENT,PCT_TOTAL,H_MEAN,A_MEAN,...,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY,Date
0,00-0000,All Occupations,total,"139,099,570",0.1,NaN,NaN,NaN,27.07,"56,310",...,32.41,50.99,"22,810","29,020","41,950","67,410","106,050",NaN,NaN,2020
1,11-0000,Management Occupations,major,"7,947,300",0.2,NaN,NaN,NaN,60.81,"126,480",...,76.71,#,"51,670","74,250","109,760","159,550",#,NaN,NaN,2020
2,11-1000,Top Executives,minor,"2,601,070",0.4,NaN,NaN,NaN,62.46,"129,920",...,80.73,#,"44,530","67,740","106,180","167,930",#,NaN,NaN,2020
3,11-1010,Chief Executives,broad,"202,360",1.0,NaN,NaN,NaN,95.12,"197,840",...,#,#,"62,780","114,530","185,950",#,#,NaN,NaN,2020
4,11-1011,Chief Executives,detailed,"202,360",1.0,NaN,NaN,NaN,95.12,"197,840",...,#,#,"62,780","114,530","185,950",#,#,NaN,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1330,29-1171,Nurse practitioners,NaN,306200,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2030
1331,29-1228,"Physicians, all other; and ophthalmologists, e...",NaN,348000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2030
1332,29-1071,Physician assistants,NaN,156100,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2030
1333,29-1171,Nurse practitioners,NaN,306200,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2030
1334,29-1228,"Physicians, all other; and ophthalmologists, e...",NaN,348000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2030